/* @font-face {
  font-family: "Avenir";
  src: url("/fonts/RegencieLight.ttf");
} */

body{
    background-color: rgba(198, 69, 23, 0.02);
}

.main{
    background-color: rgba(198, 69, 23, 0.02);
}

 .navbar-nav > li > a {
  color: rgba(39, 33, 31, 0.75) !important;
}
.navbar-nav .nav-item >a:hover {
  color: #c64517 !important;
  background-color: transparent;
}

.navbar-nav .nav-item >a:active {
  color: #c64517 !important;
  background-color: transparent;
}


.navbar-nav .nav-item .active{
  color: #c64517 !important;
  background-color: transparent;
}



.welcome{
    font-family: Avenir;
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(39, 33, 31, 0.2);
}

.isquirrrel{
    color: #933314;
}

.We-aim-to-provide-yo {
    font-family: -apple-system,BlinkMacSystemFont,'Avenir',"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: rgba(39, 33, 31, 0.75);
  }

  .blockquote-footer{
    color:#c64517 !important
  }

  .bar1{
    width: 20px;
    height: 2px;
    border: solid 1px #c64517;
  }

  .idea{
    width: 200px;
    height: 56px;
    border-radius: 12px !important;
    background-color: rgba(0, 122, 255, 0.75);
    box-shadow: 0 4px 8px 0 rgba(0, 122, 255, 0.25);
    font-size: 18px !important;
    font-weight: 500 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }

  .what-we-do{
    margin-left: 45%;
    height: 25px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c64517;
  }

  .Services-which-take {
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #27211f;
  }

  .card-custom{
    width: 160px;
    height: 160px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px 0 rgba(28, 10, 4, 0.16);
  }

  .card-image{
      margin-left: 25%;
  }

  .card-content{
    width: 99px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: rgba(39, 33, 31, 0.75);
    margin-top:22%;
}

.second{
  margin-top:5%;
}

.testinomial-card{
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(28, 10, 4, 0.16);
}

.testno-name{
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #27211f;
  margin-bottom: 0;
}

.slider-card{
  width: 92% !important;
  height: 250px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 6px 16px 0 rgba(147, 51, 20, 0.12);
}
.slick-next{
  color:red !important;
  width: 88px !important;
  height: 44px !important;
  background: 1;
  border-radius: 22px !important;
  background-color: #ffffff !important;
  box-shadow: 0 2px 8px 0 rgba(198, 69, 23, 0.22) !important;
  top:112% !important;
  background-image: url(/images/left-arrow-copy.png);
  background-size:contain;
}







.slider-btn{

}